:root {
    --primary-color: #1A5333;
    --secondary-color: #559671;

    --accent-color: #0D2C1F;
    --accent-hover-color: #43584f; 

    --background-light-color: #F5E8D6;
    --background-dark-color: #7e766c;
    --foreground-primary-color: #C9D9DC;
    --foreground-alternative-color: #57909a;
    --foreground-secondary-color: #B5945F;
    --foreground-detail-color: #56390b;
}

/* Home Page Side Bar */

#home-page-sidebar {
    background-color: var(--foreground-primary-color);
    justify-content: center;
}

#support-btn {
    background-color: var(--foreground-secondary-color);
    color: #fff;
    font-weight: bold;
}

#support-btn:hover {
    background-color: var(--foreground-detail-color);
}

#support-btn .bi-code-square {
    font-size: 1rem;
}

.sidebar-hover #support-btn {
    padding-left: 11px;
}

#sidebar-items .nav-link {
    color: var(--accent-color);
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: var(--primary-color);
}

.nav-link:hover .nav-text,
.nav-link:hover i {
    color: #fff;
}

/* Sidebar Hidden State */
.sidebar-hover {
    width: 71px;             
    min-height: 100vh;
    transition: width 0.3s ease-in-out; 
    overflow: hidden;        
    white-space: nowrap;    
    position: fixed;       
    z-index: 1000;
}

.sidebar-hover .nav-text,
.sidebar-hover .logo-text {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

/* Sidebar Expanded State */
.sidebar-hover:hover {
    width: 280px;            
    box-shadow: 4px 0 15px rgba(0,0,0,0.05);
}

.sidebar-hover:hover .nav-text,
.sidebar-hover:hover .logo-text {
    opacity: 1;
    transition-delay: 0.1s;  
    pointer-events: auto;
}

.sidebar-hover .nav-link {
    padding-left: 0.5rem;   
}

/* Switch between logos */
.sidebar-hover .full-logo {
    display: none; 
}

.sidebar-hover .main-logo {
    display: block; 
}

.sidebar-hover:hover .main-logo {
    display: none; 
}

.sidebar-hover:hover .full-logo {
    display: block;
    animation: smoothFadeIn 0.7s ease-in-out forwards; 
}

@keyframes smoothFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
