:root {
    --primary-color: #112A1D;
    --secondary-color: #1E4631;

    --accent-color: #9c3b08;
    --accent-hover-color: #ff9d69;

    --background-light-color: #F2F4F2;
    --background-dark-color: #1A1A1A;
    --foreground-primary-color: #0D0D0D;
    --foreground-alternative-color: #FFFFFF;
    --foreground-secondary-color: #4A3728;
    --foreground-detail-color: #6E503B;
}

/* Home Page Navbar */

#home-page-navbar.navbar {
    background-color: var(--primary-color);
}

#home-page-navbar a {
    color: var(--foreground-alternative-color);
    font-weight: bold;
}

#navbar-brand {
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
}

#jslab-btn {
    background-color: var(--foreground-detail-color);
    border: none;
}

/* Hero Section */

#hero-section {
    background-color: var(--secondary-color);
}

#hero-section h2,
#hero-section p {
    color: var(--foreground-alternative-color);
}

#action-btn {
    background-color: var(--accent-color);
    color: var(--foreground-alternative-color);
    border: none;
}

/* Services Section */

#services-section {
    background-color: var(--background-light-color);
}